<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link href="https://fonts.googleapis.com/css?family=Poppins:100,200,300,400,500,600,700,800,900&display=swap" rel="stylesheet">

    <title>{{title}}</title>


    <!-- Additional CSS Files -->
    <link rel="stylesheet" type="text/css" href="/customer/assets/css/bootstrap.min.css">

    <link rel="stylesheet" type="text/css" href="/customer/assets/css/font-awesome.css">

    <link rel="stylesheet" href="/customer/assets/css/templatemo-hexashop.css">

    <link rel="stylesheet" href="/customer/assets/css/owl-carousel.css">

    <link rel="stylesheet" href="/customer/assets/css/lightbox.css">
    
    <link rel="stylesheet" href="/public/customer/assets/css/cart.css">
</head>
    
    <body>
    
    <!-- ***** Preloader Start ***** -->
    {{!-- <div id="preloader">
        <div class="jumper">
            <div></div>
            <div></div>
            <div></div>
        </div>
    </div>   --}}
    <!-- ***** Preloader End ***** -->
    
    
    <!-- ***** Header Area Start ***** -->
    <header class="header-area header-sticky">
        <div class="container">
            <div class="row">
                <div class="col-12">
                    <nav class="main-nav">
                        <!-- ***** Logo Start ***** -->
                        <a href="index.html" class="logo">
                            <img src="/customer/assets/images/logo.png">
                        </a>
                        <!-- ***** Logo End ***** -->
                        <!-- ***** Menu Start ***** -->
                        <ul class="nav">
                            <li class="scroll-to-section"><a href="/" class="active">Home</a></li>
                            <li class="scroll-to-section"><a href="/category/Mobiles">Mobiles</a></li>
                            <li class="scroll-to-section"><a href="/category/Laptopes">Laptopes</a></li>
                            <li class="scroll-to-section"><a href="/category/Watches">Watches</a></li>
                            {{!-- <li class="submenu">
                                <a href="javascript:;">Pages</a>
                                <ul>
                                    <li><a href="about.html">About Us</a></li>
                                    <li><a href="products.html">Products</a></li>
                                    <li><a href="single-product.html">Single Product</a></li>
                                    <li><a href="contact.html">Contact Us</a></li>
                                </ul>
                            </li> --}}
                            <li class="submenu">
                                <a href="javascript:;">Categories</a>
                                <ul>
                                     {{#if noActiveCat}}
                                    <li><a>Not found !</a></li>
                                    {{/if}}
                                    {{#each categoryData}}
                                    <li><a href="/category/{{this._id}}">{{this._id}}</a></li>
                                   
                                    {{/each}}
                                    {{!-- <li><a rel="nofollow" href="https://templatemo.com/page/4" target="_blank">Template Page 4</a></li> --}}
                                </ul>
                            </li>
                            {{#if customerLogin}}
                             <li class="submenu">
                                <a href="javascript:;">{{customerData.fullName}}</a>
                                <ul>
                                    <li><a href="#">Features Page 1</a></li>
                                    <li><a href="#">Features Page 2</a></li>
                                    <li><a href="#">Features Page 3</a></li>
                                    <li><a rel="nofollow" href="/auth/logout" >Logout</a></li>
                                </ul>
                            </li>
                            {{else}}
                            <li class="scroll-to-section"><a href="/auth">Signin</a></li>
                            {{/if}}
                        </ul>        
                        <a class='menu-trigger'>
                            <span>Menu</span>
                        </a>
                        <!-- ***** Menu End ***** -->
                    </nav>
                </div>
            </div>
        </div>
    </header>
    <!-- ***** Header Area End ***** -->
 